{% extends 'base.html.twig' %}

{% block title %}SymfonyChat: Home{% endblock %}

{% block body %}
    {{ include('header.html.twig') }}

    <div class="container mt-5">
        <div class="title">
            <h3>Welcome back, {{ app.user.firstname }}!</h3>
            <p>You are using SymfonyChat v1.0</p>
        </div>
        <div class="content mt-4">
            <div class="alert alert-dark stats-placeholder">
                <span>Stats may appear here soon.</span>
            </div>
            <div class="actions mt-3">
                <a href="{{ path('app_chat_index') }}" class="btn btn-outline-success"><i class="fas fa-comments me-2"></i>View Chats</a>
            </div>
        </div>
    </div>
{% endblock %}