.roadmap-container .roadmapCheckpoint {
    min-width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roadmap-container .roadmapCheckpoint .bubble {
    height: 50px;
    width: 50px;
    background: transparent;
    border-radius: 50%;
    border: solid 2px var(--bs-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 600;
    color: var(--bs-secondary);
}

.roadmap-container .roadmapCheckpoint .context {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.roadmap-container .roadmapCheckpoint.active .bubble {
    border-color: var(--bs-success);
    color: var(--bs-success);
}

.roadmap-container .line {
    width: 100%;
    height: 2px;
    background: var(--bs-secondary);
    position: relative;
    top: 1.5rem;
}

.roadmap-container .line.active {
    background: var(--bs-success);
}

.roadmap-container .line.active::after {
    color: var(--bs-success);
}

.roadmap-container .line::after {
    content: '➔';
    font-size: 1.7rem;
    color: var(--bs-secondary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: .7rem;
    background: var(--bs-tertiary-bg);
}