{% extends 'base.html.twig' %}

{% block title %}SymfonyChat: Login{% endblock %}

{% block body %}
    {{ include('header.html.twig') }}

    <div class="container mt-5">
        <div class="title mb-3">
            <h1>Login</h1>
        </div>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('app_login') }}" method="post">
            <div class="inputGroup">
                <label class="form-label" for="username">Email</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}">
            </div>

            <div class="inputGroup mt-3">
                <label class="form-label" for="password">Password (Passwort)</label>
                <input class="form-control" type="password" id="password" name="_password">
            </div>

            {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"> #}

            <div class="d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-success">Login</button>
            </div>
        </form>
    </div>
{% endblock %}