{% extends 'base.html.twig' %}

{% block body %}
    {{ include('header.html.twig') }}

    <div class="container mt-5">
        <div class="d-flex align-baseline">
            <div class="recentChats p-4 bg-body-tertiary border border-end-0" style="width: 40%; height: 700px;">
                <div class="title d-flex align-items-center">
                    <div class="actions d-flex align-items-center">
                        <a href="{{ path('app_chat_index') }}" class="btn btn-dark"><i class="fas fa-arrow-left"></i></a>
                    </div>
                    <h4 class="mb-1 ms-3">Nachrichten</h4>
                </div>
                <div class="chats mt-3">
                    <div class="chat rounded border w-100 bg-dark p-2 mb-2 d-flex align-items-center position-relative">
                        <div class="profilePicture">
                            <img height="45px" width="45px" class="rounded-5 object-fit-cover" src="https://miro.medium.com/v2/resize:fit:1080/0*A7MUqyCLvZDcHkfM.jpg" alt="profilePicture">
                        </div>
                        <div class="userInfo d-flex flex-column justify-content-center ms-2">
                            <div class="username d-flex align-items-center">
                                <span class="mb-0 fw-medium" style="font-size: 14px;">A very ominous cat</span>
                                <img width="17px" height="17px" class="ms-1" src="{{ asset('assets/images/verified.png') }}" alt="verifiedIcon">
                            </div>
                            <div class="recentText d-flex">
                                <span class="mb-0" style="font-size: 14px;">Guten Tag!</span>
                            </div>
                        </div>

                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">1</span>
                    </div>
                </div>
            </div>
            <div class="chatWindow w-100 border position-relative" style="width: 60%; height: 700px;">
                <img class="w-100 h-100 opacity-50 position-absolute" style="z-index: 11; pointer-events: none;" src="https://images.unsplash.com/photo-1533134486753-c833f0ed4866?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fG1pbmltYWwlMjBkYXJrfGVufDB8fDB8fHww" alt="chatBackground">
                <div class="chatContent w-100 p-4 position-absolute" style="z-index: 12; height: 90%; overflow-y: scroll;">
                    <span class="d-flex justify-content-center mb-3">Du schaust dir <b class="mx-1">{{ chatUid }}</b> an.</span>
                    <div class="recipientMessage rounded bg-black p-2 w-50 my-2">
                        <div class="message">
                            <span>Guten Tag!</span>
                        </div>
                    </div>
                    <div class="recipientMessage ms-auto rounded bg-primary p-2 w-50 my-2">
                        <div class="message text-end">
                            <span>Wer sind Sie?</span>
                        </div>
                    </div>
                    <div class="recipientMessage ms-auto rounded bg-primary p-2 w-50 my-2">
                        <div class="message text-end">
                            <span>Warum schreiben Sie mich an?</span>
                        </div>
                    </div>
                    <div class="recipientMessage rounded bg-black p-2 w-50 my-2">
                        <div class="message">
                            <span>Meow</span>
                        </div>
                    </div>
                </div>
                <div class="inputBar d-flex align-items-center bg-black position-absolute rounded px-2" style="bottom: 15px; width: 95%; height: 50px; left: 50%; transform: translateX(-50%); z-index: 12;">
                    <div class="w-100 ps-1">
                        <input class="w-100 border-0 bg-transparent" style="outline: none;" id="sendMessage" type="text" placeholder="Schreibe eine Nachricht..." />
                    </div>
                    <div class="ms-auto">
                        <button class="btn"><i class="fas fa-paper-plane"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}